
body {
  padding-top: 70px;
	background-color: #f8f8f8;
	font-family: 'Roboto', sans-serif;
}

.navbar-default {
	background-color: white;
	border-bottom: 4px solid #E6B549;
}

body>.container {
	background-color: white;
	box-shadow: 0px 0px 8px -4px #777;
	padding: 20px;
	border-radius: 5px;
}

p {
	font-size: 17px;
}

hr {
	boder: 0px;
	height: 0px;
	border-top: 1px solid #eee;
}

pre {
  padding: 0px;
  background-color: transparent;;
  border: 0px solid #ccc;
}

.row {
  border-top: 1px solid #eee;
  padding: 20px;
}
